/* Brittany Miller*/

/* --------------- CSS RESET--------------- */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat');

:root {
    /* BRAND COLORS */
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --darkGray: #222222;
    --lightGray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

h1, h2, h3 {
    font-family: Molle;
}

h4, p, q, small, nav, button, form, label, input, a {
    font-family: Montserrat, sans-serif;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

html {
    background: var(--white);
}

header {
    background: linear-gradient(var(--teal), var(--white));
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logo img {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 40px;
}

header a {
    grid-column: 1/2;
    padding: 5px;
    width: 100%;
}

header h1 {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    margin: 0 0 0 30px;
    font-size: 3em;
}

header p {
    grid-column: 1 / span 2;
    grid-row: 3/4;
    justify-self: center;
}

.sr-only {

  display: none;

}

nav {
    position: absolute;
    width: 100%;
}

 nav a {
        color: var(--black);
        text-decoration: none;
    }

nav label {
    background-color: var(--yellow);
    padding: 10px 25px;
    text-align: center;
    position: absolute;
    width: 30%;
    right: 0%;
    top: 40%;
}

nav ul {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0%;
}

nav li {
    background-color: var(--teal);
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
}
nav li:hover {
    background-color: var(--blue);
    cursor: pointer;
}

#menu-toggle {
    margin-top: 35px;
    width: 100%;
   
}


#menu-toggle label:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

#toggle {
    position: absolute;
    opacity: 0;
}

#menu-toggle input:checked + label {
    align-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    top: 0%;
    width: 100%;
    margin-right: -20px;

}
#menu-toggle input:checked ~ ul {
    z-index: 1;
    top: 100%;
}


h2 {
    font-size: 2em;
    margin: 10px;
}

p {
    line-height: 30px;
}

article img {
    width: 100%;
    margin-bottom: 10px;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
}

h2, p {
    margin: 10px 30px;
}

#plan {
    background-color: var(--yellow);
    padding: 20px 5px;
}

h3 {
    font-size: 2rem;
    margin: 20px 60px;
}

#plan div {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 20px;
    margin: 0 60px;
    text-align: center
}

#plan section {
    background-color: var(--teal);
    aspect-ratio: 1 / 1;
    border: solid 3px;
    border-color: var(--white);
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#plan a {
    width: 60%;
}

#plan h4 {
    margin: 20px 0;
    font-variant-caps: all-small-caps;
    font-size: 1.6em;
    font-weight: bold;
}

#testimonials {
    padding: 20px 5px;
}

#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
}

#testimonials section {
    width: 80%;
    display: grid;
    justify-items: center;
}

#testimonials img {
    width: 60%;
}

#testimonials h4 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#testimonials p {
    margin: -5px;
}

#testimonials q {
    font-style: italic;
    padding-bottom: 5px;
    line-height: 1.5;
    text-align: center;
}

#about {
    background-color: var(--blue);
    padding-top: 30px;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 60px;  
}

#about section {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    text-align: center;
}

#about img {
    width: 100px;
    height: 100px;
    display: flex;
    align-self: center;
}

#about h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

#about p {
    margin: 0;
    margin-bottom: 10px;
}

form {
    margin: 1em;
  }

.form-required {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: .85em;
    font-style: italic;
}
form label, fieldset legend {
    display: block;
    margin-top: 0.5rem;
	font-weight: bold;
    text-transform: uppercase;
}
.required {
    color: var(--purple);
}
input[type=text], input[type=email], input[type=tel], select {
    border: 2px solid var(--purple);
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
  }
  input[type=radio], input[type='radio']:checked:before {
    width: 100%;
    height: 2em;
    width: 2em;
    accent-color: var(--purple);
    background: var(--purple);
  }
  fieldset label {
    text-transform: none;
    font-weight:400;
  }
  input[type=submit] {
    color: var(--white);
    background: var(--purple);
    width: 100%;
    border: none;
    padding: 15px;
    font-weight: bold;
	font-size: 1.15rem;
    text-transform: uppercase;
    margin-top: 1em;
  }

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--lightGray);
    padding: 10px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--black);
    margin: 15px;
    text-align: center;
}

@media screen and (min-width: 400px) {
    fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        max-width: 600px;
    }
}

@media screen and (min-width: 600px) {
    header {
        grid-template-columns: 30% 70%;
        grid-auto-rows: 70px;
        justify-content: start;
    }

    header h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 0 0 0 30px;
        font-size: 3rem;
        margin-top: 30px;
    }

    header p {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-top: 80px;
        justify-self: self-start;
    }

    header img {
        grid-column: 1 / 2;
        grid-row: 1 / span 3;
    }

    #toggle, #toggle + label {
        display: none;
    }

    nav {
        position: static;
        width: 100%;
        grid-column-start: span 2;
    }
    
    nav label {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        position: static;
        right: auto;
        justify-content: space-around;
        text-align: center;
        gap: 15px;
    }

    nav li {
        background-color: var(--white);
        border: none;
        width: 100%;
        padding: 10px;
    }
    
    nav li:hover {
        background-color: var(--yellow);
    }

    nav a {
        color: var(--black);
        text-decoration: none;
    }

    .active a {
        background-color: initial;
    }

    #intro h2, #intro p {
        margin: 10px 60px;
    }

    #img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
        margin: 10px 60px 20px;
    }

    #img-grid img:first-of-type {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 0;
    }

    #img-grid img:last-of-type {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
    }

    #img-grid picture {
        display: grid;
        grid-column: 1 / span 2;
    }

   #plan div {
        grid-template-columns: repeat(2, 1fr); 
    }

    #plan section {
        display: grid;
        width: 90%;
    }

    #testimonials div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #about div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

   input[type=submit] {
      width: 32%;
    }

    #submit {
      text-align:right;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 900px) {
    header {
        grid-template-columns: 1fr 2fr 1fr 4fr;
    }

    header p {
        grid-column: 2 / span 2;
    }


    nav {
        position: absolute;
        top: 1%;
        right: 0%;
        width: 50%;
    }

    nav li a {
        font-size: 0.8rem;
    }
    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #intro p {
        grid-column: 1 / 2;
    }

    #img-grid {
        margin-top: 0;
        position: relative;
        bottom: 30px;
    }

    #plan div {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: 0 60px;
}

#plan section {
    background-color: var(--teal);
    aspect-ratio: 1 / 1;
    width: 80%;
    border: solid 3px;
    border-color: var(--white);
    border-radius: 15px;
}

    #testimonials div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.15em;
  }
}